.container {
  max-width: 400px;
  margin: 40px auto;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
